@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div class="tableCell pr30">
    <h3>Mission Statement</h3>
    <p>iScrimmage.com and Big League Travel Baseball™ (BLT Baseball™) promotes competitive baseball in a safe, educational and fun environment. Participants compete in League and Tournament play having the opportunity to showcase their baseball skills with integrity, camaraderie and good sportsmanship to the highest level. We are family oriented, and make the experience fun for all, including those who support the participants.</p>
</div>
<div class="tableCell w50">
    <ul class="list_doc">
    </ul>
</div>