@{
    ViewBag.Title = "Classifieds";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div class="classified">
    <div class="w66 floatleft">
        <div class="mr30">
            <h2>Coming Soon</h2>
            <p>Updated Classifieds</p>
        </div>
    </div>
    <div class="w33 floatleft">
        
    </div>
</div>
@*
<div class="classified">
    <div class="w66 floatleft">
        <div class="mr30">
            <h2>OPEN TRYOUTS (9U & 10U) - Travel Baseball Teams</h2>
            <p>Saturday, July 27th & Saturday, August 3rd</p>
            <p>Time: 12:30pm-3:30pm<br />Location: Banks Sports Complex - Field #3<br />1755 Banks Rd. Margate, FL 33063</p>
            <p>Contact: Herb Olivencia - Coach<br />Phone: (954) 394-4563<br />Email: <a href="mailto:sfrebelsbaseball@gmail.com">sfrebelsbaseball@gmail.com</a></p>
            <p><a href="http://www.rebelsbaseball.us" target="_blank">www.rebelsbaseball.us</a> - Click on the “Online Forms” icon and fill out the “Tryout Registration Form”</p>
        </div>
    </div>
    <div class="w33 floatleft">
        <img src="~/Images/classifieds/southflorida_rebels.jpg" />
    </div>
</div>

<div class="classified">
    <div class="w66 floatleft">
        <div class="mr30">
            <h2>Davie Broncos 12U Fall Try-Outs</h2>
            <p>Thursday, July 25th & Friday, July 26th</p>
            <p>Time: 6:00pm-8:00pm<br />Location: Bamford Park - Marlin Field</p>
            <p>Contact: Rich Soviero - Manager<br />Phone: 954-214-5794</p>
            <p>Players must be born on or after May 1, 2001. Please bring baseball equipment and water.</p>
        </div>
    </div>
    <div class="w33 floatleft">
        <img src="~/Images/classifieds/davie_broncos.jpg" />
    </div>
</div>

<div class="classified">
    <div class="w66 floatleft">
        <div class="mr30">
            <h2>11U Travel Ball Players Wanted</h2>
            <p>Sunrise Sharks 11U Travel Baseball team is looking for a few experienced travel quality players to round out our roster for the fall season.</p>
            <p>Pitching and Catching experience is a plus. In addition, previous Florida Premier League (FPL) travel experience strongly preferred. Team is Professional trained by legendary Trainer Tito Frias.  In addition to playing baseball at the Professional Level, Tito has gained valuable baseball knowledge from many Major League Stars and has been a Professional Trainer at the major league level for over 20 years.  Pitching coached by Legendary MLB former New York Yankee Pitcher Tanyon Sturtze.</p>
            <p>Extremely reasonable rates that are at a fraction of other local travel teams. Top-notch training facilities located at Oscar Wind and Flamingo Parks in Sunrise as well as utilization of the indoor batting facilities at Bases Loaded.  The SHARKS will play in the FALL 2013 FPL seasons as well as local and out of town tournaments.</p>
            <p>If you would like to be part of this exciting organization please contact Head Coach John Bottone at 786-236-8402 or our General Manager Dan Espinosa at 954-592-3020.</p>
        </div>
    </div>
    <div class="w33 floatleft">
        <img src="~/Images/classifieds/sunrise_sharks.jpg" />
    </div>
</div>*@



@*
<div class="classified">
    <div class="w66 floatleft">
        <div class="mr30">
            <h2>Parkland Elite Tryouts</h2>
            <p>Parkland Elite 9U is looking for players for all positions for the upcoming spring season. Our team is professionally coached by Sam Luppino.</p>
            <p>Our home field is Terramar Park in Parkland.</p>
            <p>Tryouts will be held on Wednesday, Dec 4th and Friday, December 6th from 6-8p on Demming Field in Mullins Park.</p>
            <p>Contact Mike Lazar 954-263-2659 (text is fine) or email <a href="mailto:lazarfive@gmail.com">lazarfive@gmail.com</a></p>
        </div>
    </div>
    <div class="w33 floatleft">
        <img src="~/Images/classifieds/pelite.jpg" />
    </div>
</div>

<div class="classified">
    <div class="w66 floatleft">
        <div class="mr30">
            <h2>Plantation Stars 13U Spring 2014 Tryouts</h2>
            <p>Stars are looking for experienced travel players to form their Spring 2014 roster. Tryouts will be held on 12/7 at 10 AM and 12/9 at 7 PM in the Sunset Park Field #5.</p>
            <p>Please contact coach Tony 954-805-2129 or email at <a href="mailto:tony0917@bellsouth.net">tony0917@bellsouth.net</a></p>
        </div>
    </div>
    <div class="w33 floatleft">
        <img src="~/Images/classifieds/plantation_stars.jpg" />
    </div>
</div>

<div class="classified">
    <div class="w66 floatleft">
        <div class="mr30">
            <h2>West Pembroke Pines Baseball 10U COBRAS Spring Tryouts December 14, 2013</h2>
            <p>Travel baseball program playing in the South Florida Premier League.  Looking for for dedicated players (all positions) for its upcoming Spring Season. The teams goal is to teach the kids advanced baseball in a great and positive atmosphere and to keep the kids together through at least age 12u to play in a National Tournament at Cooperstown NY in 2016.  Tryouts will be held on Dec 14 at 5:00 pm and January 4th at 9:00am. The location of the tryouts will be at our home field: 501 SW 172nd Ave, Pembroke Pines 33029.</p>
            <p>For further information please contact Head coach: Dan Guzman at 786-693-0313 or <a href="mailto:Dan.Guzman@quincycompressor.com">Dan.Guzman@quincycompressor.com</a>.</p>
        </div>
    </div>
    <div class="w33 floatleft">
        <img src="~/Images/classifieds/cobras.jpg" />
    </div>
</div>

<div class="classified">
    <div class="w66 floatleft">
        <div class="mr30">
            <h2>Spring Tryouts December 14, 2013</h2>
            <p>Registration for Spring Season Tryouts are now open. Spring Tryouts will be held on Saturday, December 14, at the Westminster Academy Athletic Complex (3701 NW 44th Street, Lauderdale Lakes, Fl, 33319).</p>
            <p>This will be an open tryout for all prospective 9U, 10U, 11U, 12U, & 14U players. We are looking to field a very competitive team in each of the following divisions: 9U, 10U, 12U, & 14U.</p>
            <p>To register please click the link below. If you have any questions please contact Nick James at 904-254-2672 or email at <a href="mailto:cannonsbaseball.james@yahoo.com">cannonsbaseball.james@yahoo.com</a>. We are looking forward to a great tryout/season with all of our teams.</p>
            <p>Feel Free to visit our website: <a href="http://www.cannonsbaseballacademy.com" target="_blank">www.cannonsbaseballacademy.com</a></p>
        </div>
    </div>
    <div class="w33 floatleft">
        <img src="~/Images/classifieds/cannons.jpg" />
    </div>
</div>

<div class="classified">
    <div class="w66 floatleft">
        <div class="mr30">
            <h2>10U Travel Ball Players Wanted</h2>
            <p>Cannons Baseball Academy, an established organization, is looking for 10u players to fill out the roster for the fall.  Players must not turn 11 years old on or before May 1, 2014.</p>
            <p>The Organization focuses on the development of each child.  All teams are coached by qualified individuals who do not have any children in the program.</p>
            <p>Cannons Baseball Academy was founded in 2005 by Nick James, head baseball coach at Westminster Academy.  Since that the organization has provided many players with the development needed for the rigors of High School Baseaball and over 30 players have gone on to sign college scholarships or professional contracts.</p>
            <p>Please contact Tyler Wheeler, <a href="mailto:cannonsbaseball.wheeler@yahoo.com">cannonsbaseball.wheeler@yahoo.com</a> / (407) 319-7334, to set up an evaluation or for more information.</p>
            <p>Feel Free to visit our website: <a href="http://www.cannonsbaseballacademy.com" target="_blank">www.cannonsbaseballacademy.com</a></p>
        </div>
    </div>
    <div class="w33 floatleft">
        <img src="~/Images/classifieds/cannons.jpg" />
    </div>
</div>

<div class="classified">
    <div class="w66 floatleft">
        <div class="mr30">
            <h2>Quality Coaches Wanted</h2>
            <p>The Cannons Baseball Academy, an independent teaching academy and travel organization, is currently interviewing potential coaching candidates for the fall of 2013. These positions are part-time and candidates will be paid a monthly stipend commensurate with their experience and qualification. Candidates will be responsible for assistance in all facets of the planning and organization of a highly competitive travel organization and youth teaching academy.</p>
            <p>Required qualifications: The ideal candidate should have significant playing experience, preferably at the collegiate or professional level and/or significant coaching experience at the youth travel level or beyond Parties who are interested should send a resume to <a href="mailto:www.cannonsbaseball.james@yahoo.com">www.cannonsbaseball.james@yahoo.com</a>.</p>
            <p>Feel free to also visit our academy website at: <a href="http://www.cannonsbaseballacademy.com" target="_blank">www.cannonsbaseballacademy.com</a> to learn more about our organization.</p>
        </div>
    </div>
    <div class="w33 floatleft">
        <img src="~/Images/classifieds/cannons.jpg" />
    </div>
</div>
*@
@*
<div class="classified">
    <div class="w66 floatleft">
        <div class="mr30">
            <h2>Player Looking for Team 15U currently</h2>
            <p>DOB 3/31/98<br />Player living in Davie, Fl. is looking for a 15U team in the area to join and play baseball. Currently plays 1st and 3rd base and looking for a good team to be part of.</p>
            <p>Please contact BLT baseball if you are interested in adding to your team or trying out.<br />
            Phone: 954-303-0525<br />
            Email: <a href="mailto:adrian@bltbaseball.com">adrian@bltbaseball.com</a></p>
        </div>
    </div>
    <div class="w33 floatleft">
    </div>
</div>

<div class="classified">
    <div class="w66 floatleft">
        <div class="mr30">
            <h2>Players Wanted 10U</h2>
            <p>Bases Loaded Barracudas moving into 10U in the fall are looking for Travel Baseball players. Age cut off is May 1st 2014. Please <a href="mailto:bltbaseball@bltbaseball.com">Email BLT Baseball</a> if interested or call 954-303-0525. Please state players name, DOB, previous teams played for, positions played/preferred. Please pass onto a friend or anyone who may be interested.</p>
            <p>Personal Tryouts will be available. Access to great Coaching, Facilities and program.</p>
        </div>
    </div>
    <div class="w33 floatleft">
        <img src="~/Images/classifieds/bases_loaded_barracudas.jpg" />
    </div>
</div>
*@