@{
    ViewBag.Title = "Coaches";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p>The only online baseball league management platform for coaches. Signup teams, players, leagues, and tournaments faster and easier than ever before. No need for team sites, as all your tools are in one place. The complete online baseball league management platform for coaches and Managers.</p>

<p>Easy to use management tools for administration of your team. Manage rosters, players, leagues and Tournaments faster and easier using state of the art tools. Easily communicate with parents and manage game schedules through the site. Features include Parent online payments and player administration distributed by the coach. No more collecting funds. Have parents log in and pay for leagues, tournaments and events with easy oversight. No need for team sites, as all your tools are in one place. Communicate with other coaches easily for scheduled and rescheduled games. Many more options and your feedback is welcome.
