@{
    ViewBag.Title = "Coaches_Managers";
}

<h1>Coaches & Managers</h1>

<p>With Big League Travel Baseball, it’s now is easier than ever to manage your Team! Just log in using a Google email account and you will be granted access to following cool website features:</p>
<ul class="list_doc">
    <li>Team & Player Profiles- Each Team Coach will be able to enter/create Teams, Players & Rosters.</li>
    <li>Online Tournament/Game Registrations- You can register your Team online for all BLT Baseball games, tournaments & events.</li>
    <li>League Registration Fees & Tournament Fees- Access to online payment system for all League, & tournament related fees.</li>
    <li>Game Invite Requests- Coaches can send game invite requests to other Teams online.</li>
    <li>Game Schedules- Easy to manage game schedules, rain delay re-schedules, and forfeits all online.</li>
    <li>Electronic Waiver- Getting the Player’s waiver signed has never been simpler! Coaches can send all Parents/Guardians electronic waivers via email for electronic signature, using the “HelloSign” feature.</li>
    <li>Online access to view all games scores, pitch counts & players stats.</li>
    <li>Online email communication- Coach to Coach communication. Coach to Parent/Guardian communication via email through our website, @Html.ActionLink("www.bltbaseball.com", "Index", "Home")</li>
</ul>
