@{
    ViewBag.Title = "Home Page";
}

    <div class="news">
@*        <div class="news_row news_row_odd">        
            <div class="content_wrapper">
                <img class="floatright ml50 mb50" src="images/news/sf_05.jpg" />
                <h1>Fall Ball!</h1>
                <span class="news_date">June 28, 2013</span>
			    <p>Big League Travel Baseball Fall Season registration will officially open on July 1st! New and returning teams are welcome!</p>
                <p>Play as much or as little as you want! Coaches, please visit our website to register your team! <a href="http://www.bltbaseball.com">www.bltbaseball.com</a></p>
            </div>
        </div>
        <div class="news_row news_row_even">        
            <div class="content_wrapper">
                <img class="floatright ml50 mb50" src="images/news/sf_04.jpg" />
                <h1>Big League Travel Softball!</h1>
                <span class="news_date">June 28, 2013</span>
			    <p>Coming soon to a field near you! For more information, please email us: <a href="mailto:bltbaseball@bltbaseball.com">bltbaseball@bltbaseball.com</a> or call (954) 303-0525</p>
            </div>
        </div>
        <div class="news_row news_row_odd">        
            <div class="content_wrapper">
                <img class="floatright ml50 mb50" src="images/news/sf_03.jpg" />
                <h1>Bat Raffle Winners</h1>
                <span class="news_date">June 20, 2013</span>
                <p>Thanks to everyone who registered with BLT Baseball! We've selected the winners of the DeMarini bat raﬄe, and we've contacted them by email. If you are one of the lucky winners, please make sure to re‐spond to our email and give us your contact information, as we can't deliver your prizes without it.</p>
                <p>The full list of winners is below:</p>
                <ul class="list_doc">
                    <li><strong>For Division: 8U, 9U, 10U and 11U</strong><br />The DeMarini Vexxum bat winners are the Davie Broncos (11u)</li>
                    <li><strong>For Division: 12U & 13U</strong><br />The DeMarini CF5 bat winners are Coral Springs Predators (12u)</li>
                    <li><strong>For Division: 14U and higher</strong><br />The DeMarini VooDoo bat winners are the Fort Lauderdale Lighting (14u)</li>
                </ul>
                <p><strong>Congratulations to all winnings teams!</strong></p>
            </div>
        </div>
        <div class="news_row news_row_even">        
            <div class="content_wrapper">
                <img class="floatright ml50 mb50" src="images/news/sf_02.jpg" />
                <h1>Here’s your chance to get to know us…BIG LEAGE TRAVEL BASEBALL</h1>
                <span class="news_date">June 6, 2013</span>
				<p>We’re happy to announce that the BIG LEAGUE TRAVEL BASEBALL website is NOW operational and we are still accepting registrations for our League & Tournament. We are dedicated to developing this site, to provide the best online experience. In the near future the website will feature complete online access to every aspect of the player’s participation within the league & tournaments. Coming soon for the fall season…BIG LEAGUE TRAVEL SOFTBALL!!</p>
            </div>
        </div>*@



        <div class="news_row news_row_odd">        
            <div class="content_wrapper">
                <div class="tableParent">
                    <div class="tableCell">
                        <div class="news_img_con_border">
                            <div class="news_img_con">
                                <img src="images/news/sf_02.jpg" />
                            </div>
                        </div>
                    </div>
                    <div class="tableCell">
                        <h1>Here’s your chance to get to know us…iScrimmage.com</h1>
                        <span class="news_date roundbox"><i class="icon-calendar-empty"></i> October 3, 2013</span>
				        <p>We’re happy to announce that the iScrimmage website is NOW operational and we are registering teams. Welcome to the only purpose-built scrimmage platform that allows you to schedule games regardless of league affiliation or location.  We provide all the tools you need to filter searches and schedule games based on age, division, and distance from your home field.  Get more games on iScrimmage.com.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
