@{
    ViewBag.Title = "Payment Successful";
}
<h2>Thank You</h2>
<p>Thank you for your payment.</p>
<p>Your transaction has been completed, and a receipt for your purchase has been emailed to you.</p>
<p>You may log into your account at www.paypal.com to view details of this transaction.</p>
