@{
    ViewBag.Title = "Players_Parents";
}

<h1>Players & Parents</h1>

<p>With Big League Travel Baseball, each Parent/Player can manage & view Player’s information online! Just log in using a Google email account for access to cool website features which include:</p>
<ul class="list_doc">
    <li>Player Profiles- Easily update and edit Player’s information as the Player advances through each Division. Each Parent/Player can view Player’s profiles.</li>
    <li>Electronic Waiver- Getting the Player’s waiver signed has never been easier! Parents can sign *electronic waivers, using the “HelloSign” feature. (*Parents will require an invitation by the Team’s Coach for electronic waiver)</li>
    <li>Online Roster Verification- Parents can verify their Player’s information on the electronic roster.</li>
    <li>League Registration Fees & Tournament Fees- Access to online payment system for all League & tournament related fees.</li>
    <li>Game Schedules- View all scheduled games & tournaments online.</li>
    <li>Calendars- Access to game to Team calendar & remainder emails of games & practices scheduled by the Coach.</li>
    <li>Online access to view all games scores, pitch counts & Players stats.</li>
    <li>Online email communication- Coach to Parent/Player’s communication via email through our website, @Html.ActionLink("www.bltbaseball.com", "Index", "Home")</li>
</ul>
<p>And coming soon, text messaging communication….. And more exciting features to come…!</p>