@{
    ViewBag.Title = "Players";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

The complete online baseball league management platform for Parents and Players
Each Team Parent/Guardian has an account to manage the information for their player. Easily update and edit the information as the player advances through his baseball career. Easy to make online payments for leagues and tournaments. Easy to communicate with the Coach and other team parents. Access to team calendar and reminder emails of games and practices scheduled by the coach. Easily communicate with the coach on private or public issues. Keep up to date on all team information, scores and events. 
