@{
    ViewBag.Title = "Pricing";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p>All Teams must be registered with BLTB before participating in any seasonal league tournaments or events.</p>
<h2>Scrimmage Pricing</h2>
<ul class="list_doc">
<li><i class="icon-ok-circle"></i> Scrimmage and game scheduling is free!
</ul>
<h2>League Pricing</h2>
<ul class="list_doc">
<li><i class="icon-ok-circle"></i> Our league management system is built for you! We can host your league or become part of our league.<br />
<li><i class="icon-ok-circle"></i> Fees will be determined based on the league, division, and season. See our active leagues to become part of the team.</li>
<li><i class="icon-ok-circle"></i> Umpires Fees- Average umpire fee of $45.00 per Umpire per game. Umpire fees can be paid online at www.bltbaseball.com, or at the Home Plate on game day. 2 baseballs per Team must be supplied to Home Plate Umpire before the start of each game.</li>
</ul>
<br />
<h2>Tournaments Pricing</h2>
<p>Pricing for Tournaments can and will vary, depending on venue, umpires availability, team availability, and season. Pricing for Tournament will be posted on the BLTB website & delivered via email when Tournament information is released. Discounted Tournament fees for teams registered with BLTB and playing in League play. BLTB endeavors to have Umpires fees included in the Tournament fees. BLTB will also be hosting other events such as Home Run Derbies for which additional fees will be required for participation. Additional Events fees will be posted on the BLTB website & delivered via email when event information is released.</p>

</div>