@{
    ViewBag.Title = "WhyUs";
}

<hgroup class="title">
    <h1>Why Use iScrimmage.com?</h1>
</hgroup>
<div class="tableCell pr30">
    <p>iScrimmage.com is the first purpose-built scrimmage platform that provides teams the ability to schedule scrimmages against teams regardless of location and/or league affiliation. We give teams and coaches unrestricted access to schedule and play teams of their choice.  This broadened base of competition increases the amount of situational instruction opportunities and speeds up the learning process.</p>
</div>
<div class="tableCell w50">
    <ul class="list_doc">
    <li><i class="icon-ok-circle"></i> Easy to use intuitive website for managers & coaches</li>
    <li><i class="icon-ok-circle"></i> Interactive Web access for family & friends.</li>
    <li><i class="icon-ok-circle"></i> Organized officials/umpires on demand </li>
    <li><i class="icon-ok-circle"></i> Coaches’ management tools</li>
    <li><i class="icon-ok-circle"></i> Parent’s management tools</li>
    </ul>
</div>