@{
    ViewBag.Title = "Invite Expired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Invite Expired</h2>
The invitation you received has expired. Please check your e-mail for the most recent invitation or request that another invitation be sent.