@if (Request.IsAuthenticated)
{
    Web.Models.BLTBPrincipal loggedInUser = (Web.Models.BLTBPrincipal)User;
    <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
}
else
{
    <li>@Html.ActionLink("Log In", "Login", "Account")</li>
}
