@{
    ViewBag.Title = "IPN";
}

<h2>Payment Confirmed</h2>

<p>Thank you for your payment. The "Pay Now" button will still be enabled but you have officially registered and paid. We will email additional information and details as the games are scheduled.</p>
<br /><br />
<p>@Html.ActionLink("Go Back To My Dashboard", "Dashboard", "Home")</p>
                        

