@model Web.Models.LeaguesOverviewModel

@{
    ViewBag.Title = "League Overview";
    if (Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Dashboard.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div id="scrimmage-list">
        @Html.Partial("_InfoOverview", Model.All, new ViewDataDictionary(this.ViewData) { { "header", "<h1>Events</h1>" } })
</div>

@*<a id="scrimmages"></a>
<div id="scrimmage-list">
        @Html.Partial("_InfoOverview", Model.Scrimmages, new ViewDataDictionary(this.ViewData) { { "header", "<h1>Scrimmages</h1>" } })
</div>

<a id="tournaments"></a>
<div id="tournament-list">
        @Html.Partial("_InfoOverview", Model.Tournaments, new ViewDataDictionary(this.ViewData) { { "header", "<h1>Tournaments</h1>" } })
</div>

<a id="leagues"></a>
<div id="league-list">
    @Html.Partial("_InfoOverview", Model.Leagues, new ViewDataDictionary(this.ViewData) { { "header", "<h1>Leagues</h1>" } })
</div>*@



