@model Web.Models.LeaguesOverviewModel

@{
    ViewBag.Title = "League Overview";
    if (Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Dashboard.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<a id="scrimmages"></a>
<div id="scrimmage-list">
        @Html.Partial("_InfoOverview", Model.Scrimmages, new ViewDataDictionary(this.ViewData) { { "header", "<h1>Scrimmages</h1>" } })
</div>


