@model iScrimmage.Core.Data.Models.Member

@{
    ViewBag.Title = "Log In";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<span us-spinner="{radius:40, length:30, width:14, trail:50}" spinner-key="login"></span>

<section ng-controller="iScrimmageAccount" ng-cloak class="social">
    <fieldset ng-init="loginData.Redirect='@ViewBag.ReturnUrl'">
        <p ng-if="error" class="error">
            <br/>
            <span>{{error}}</span>
        </p>
        <p>
            <div class="editor-label">
                <label>Email Address</label>
            </div>
            <div class="editor-field">
                <input type="text" ng-model="loginData.Email" />
            </div>

            <div class="editor-label">
                <label>Password</label>
            </div>
            <div class="editor-field">
                <input type="password" ng-model="loginData.Password" />
            </div>
        </p>
        <p>
            <button ng-click="login()" type="submit" name="provider" title="Log In">Log In</button>
        </p>
        <p>
            @Html.ActionLink("I Forgot My Password", "ResetPassword", "Account")
            &nbsp;&nbsp;
            @Html.ActionLink("Create A Free Account", "Register", "Account")
        </p>
    </fieldset>
</section>
