@model iScrimmage.Core.Data.Models.Member


@{
    ViewBag.Title = "Password Reset";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="social">
    @if (Model == null)
    {
        <fieldset>
            <p>
                <br />
                Enter your email address and we will send you an email containing a link to reset your password.
            </p>
            <p ng-if="error">
                <span>{{error}}</span>
            </p>
            <p>
                <div class="editor-label">
                    <label>Email Address</label>
                </div>
                <div class="editor-field">
                    <input type="text" ng-model="resetEmail" />
                </div>
            </p>

            <button ng-click="sendResetLink()" type="submit" title="Send Reset Link">Send Reset Link</button>
        </fieldset>
    }
    else if (Model.Id == Guid.Empty)
    {
        <fieldset>
            <p>
                <br />
                This reset link is invalid or expired.
            </p>
            
            <a href ng-click="refreshResetView()">Send Another Link</a>
        </fieldset>
    }
    else
    {
        <fieldset>
            <p>
                <br />
                Enter a new password.
            </p>
            <p>
                <div class="editor-label">
                    <label>Password</label>
                </div>
                <div class="editor-field">
                    <input type="password" ng-model="resetEmail" />
                </div>
                <div class="editor-label">
                    <label>Confirm Password</label>
                </div>
                <div class="editor-field">
                    <input type="password" ng-model="resetEmailConfirm" />
                </div>
            </p>

            <button ng-click="sendResetLink()" type="submit" title="Send Reset Link">Send Reset Link</button>
        </fieldset>
    }
</section>
