@model iScrimmage.Core.Data.Models.Member


@{
    ViewBag.Title = "Password Reset";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<span us-spinner="{radius:40, length:30, width:14, trail:50}" spinner-key="reset"></span>

<section ng-controller="iScrimmageAccount" ng-cloak class="social">
    @if (Model == null)
    {
        <fieldset>
            <br />
            <p ng-hide="resetData.LinkSent">
                Enter your email address and we will send you an email containing a link to reset your password.
            </p>
            <p ng-show="resetData.LinkSent">
                An email has been sent to your email address containing a reset link.
            </p>
            <p ng-if="error" class="error">
                <span>{{error}}</span>
            </p>
            <p>
                <div class="editor-label">
                    <label>Email Address</label>
                </div>
                <div class="editor-field">
                    <input type="text" ng-model="resetData.Email" />
                </div>
            </p>

            <button ng-hide="resetData.LinkSent" ng-click="sendResetLink()" type="submit" title="Send Reset Link">Send Reset Link</button>
        </fieldset>
    }
    else if (Model.Id == Guid.Empty)
    {
        <fieldset>
            <br />
            <p>
                This reset link is invalid or expired.
            </p>
            
            <a href ng-click="refreshResetView()">Send Another Link</a>
        </fieldset>
    }
    else
    {
        <fieldset ng-init="resetData.Token='@Model.ResetToken'">
            <br />
            <p ng-hide="resetData.PasswordReset">
                Enter a new password.
            </p>
            <p ng-show="resetData.PasswordReset">
                Your password has been successfully reset.<br/>
                @Html.ActionLink("Log in", "Login", "Account")
            </p>
            <p ng-if="error" class="error">
                <span>{{error}}</span>
            </p>
            <p>
                <div ng-hide="resetData.PasswordReset" class="editor-label">
                    <label>Password</label>
                </div>
                <div ng-hide="resetData.PasswordReset" class="editor-field">
                    <input type="password" ng-model="resetData.Password" />
                </div>
                <div ng-hide="resetData.PasswordReset" class="editor-label">
                    <label>Confirm Password</label>
                </div>
                <div ng-hide="resetData.PasswordReset" class="editor-field">
                    <input type="password" ng-model="resetData.PasswordConfirm" />
                </div>
            </p>

            <button ng-hide="resetData.PasswordReset" ng-click="resetPassword()" type="submit" title="Reset Password">Reset</button>
        </fieldset>
    }
</section>
